@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);





#menu-2 .navbar-toggler {
  color: #000000;
}
#menu-2 .navbar-brand {
  font-family: 'Roboto Condensed', sans-serif;
}
#menu-2 .nav-link {
  font-family: 'Roboto Condensed', sans-serif;
}
#header1-3 B {
  color: #ffffff;
  font-family: 'Alegreya Sans', sans-serif;
}
#features1-4 H4 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: right;
}
#contacts3-5 P {
  text-align: left;
}
#contacts3-5 .btn {
  font-family: 'Roboto Condensed', sans-serif;
}
